@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 pt-28;
  }
  .text-footer {
    @apply text-[12px] font-medium leading-[15.6px];
  }
  .text-navbar {
    @apply text-[14px] font-medium leading-[16.2px];
  }
  .text_dark500_light600 {
    @apply text-slate-600 dark:text-slate-500;
  }
  .text_dark400_light900 {
    @apply text-slate-900  dark:text-slate-400;
  }
}

@layer components {
  .theme_toggle {
    @apply absolute rounded-full bottom-6 shadow-lg right-6 w-[3rem] h-[3rem] flex justify-center items-center z-10 bg-slate-50 dark:invert bg-opacity-80 hover:scale-[1.15] transition-all active:scale-105;
  }
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.gradient {
  height: fit-content;
  max-width: 640px;
  z-index: 3;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 20px,
      transparent 50%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 20px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 20px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 20px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 20px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 20px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 20px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}
